<h1>Notícias::Angular</h1>
<hr>
<app-barra-de-navegacao (apontou)="irPara($event)"></app-barra-de-navegacao>
<hr>

<app-noticias-recentes [noticias]="noticiasPublicadas()" (mostrou)="onMostrou($event)" *ngIf="tela == 'home'"></app-noticias-recentes>

<app-leitor-de-noticia [leituraNoticia]="leituraNoticia" (fechou)="fechar()" *ngIf="tela == 'leitura'"></app-leitor-de-noticia> 

<app-todas-as-noticias *ngIf="tela == 'lista'" [noticias]="noticiasPublicadas()"
                        (editor)="editar($event)" (remover)="excluir($event)"></app-todas-as-noticias>

<div *ngIf="tela == 'cadastro' || tela == 'edicao'">
  <h2>Cadastrar notícia</h2>
  <form #cadastro="ngForm" (submit)="salvar(cadastro)">
    <div>
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
    </div>
    <div>
      <label for="conteudo">Conteúdo</label>
      <textarea id="conteudo" name="conteudo" cols="80" rows="5" [(ngModel)]="conteudo" required></textarea>
    </div>
    <div>
      <label for="autor">Autor</label>
      <input type="text" name="autor" id="autor" [(ngModel)]="autor" required>
    </div>
    <div>
      <label for="emailDoAutor">E-mail do autor</label>
      <input type="email" name="emailDoAutor" id="emailDoAutor" [(ngModel)]="emailDoAutor">
    </div>
    <div>
      <label for="data">Data</label>
      <input type="datetime-local" name="data" id="data" [(ngModel)]="data">
    </div>
    <div>
      <button type="submit" [disabled]="!cadastro.form.valid">Salvar</button>
      <button type="reset" *ngIf="tela == 'cadastro'" formnovalidate>Limpar</button>
      <button *ngIf="tela == 'edicao'" (click)="cancelarEdicao()" formnovalidate>Cancelar</button>
    </div>
  </form>
</div>